.mat-button-toggle {
  background-color: darkslateblue;
}
.mat-mdc-progress-spinner {
  display: inline-flex;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 40%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Led-Cont {
    width: 33%;
    padding: 15px;
    display: inline-block;
    justify-content: space-between;
}
#greenLed {
  background-color:green;
  opacity:20%
}
#blueLed {
  background-color:blue;
  opacity:20%
}
#redLed {
  background-color:red;
  opacity:20%
}